// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}

.container {
  width: 100vw;
  margin: 0;
}
section.module:last-child {
  margin-bottom: 0;
}
.subsection {
  margin: 0 10vw;
}
.sub-header {
  margin-bottom: 5vh;
  font-family: "Roboto Slab", serif;
  font-size: 5vmax;
  font-weight: bold;
}
.sub-text {
  margin-bottom: 5vh;
  font-size: 2.5vmax;
  font-weight: 300;
}
section.module.parallax {
  height: 600px;
  width: 100vw;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}
.titles {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15vw;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0;
}
section.module.parallax-1 {
  background-image: url("https://i.sli.mg/4QkOcU.jpg");
}
section.module.parallax-2 {
  background-image: url("https://i.sli.mg/O13bn6.jpg");
}
section.module.parallax-3 {
  background-image: url("https://i.sli.mg/qhKjWh.jpg");
}
